#nav1{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    float: left;
    padding-left: 15px;

}
.button button {
border-color:blueviolet;
display: block; /* Make buttons a block-level element */
margin-bottom: 20px; /* Spacing between buttons */
height: 40px;
text-align: center;
color: blueviolet;
border-radius: 8px;
width: 100px;

}
.container{
    float: inline-start;
    margin-left: 20px;
    height: 730px;
    width: 1400px;
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    /* Container for text boxes */
    .textbox-container {
    display: flex;
    margin-top: 300px;
    margin-left: 400px;
    margin-bottom: 150px; /* Adjust spacing */
    }

    /* Style for text boxes */
    .textbox-container input[type="text"] {
    margin-right: 150px; /* Adjust spacing */
    border-radius: 4px;
    }

    /* Container for dropdowns */
    .dropdown-container {
    display: flex;
    margin-left: 400px;
    }

    /* Style for dropdowns */
    .dropdown-container select {
    margin-right: 150px; /* Adjust spacing */
    width: 180px;
    border-radius: 4px;
    }

    .button-container{
        margin-top: 100px;
        margin-left: 650px;
    }
    .button-container button{
        background-color: aquamarine;
        height: 40px;
        width: 100px;
    }