<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: lightgrey;">
        <div style="background-color: lightgrey;">
            <p></p>
        </div>
    
        <!--code for navigation bar-->
    
    <nav>
        <div id="nav1">
            <h2>Hello Admin</h2> 
        </div>
    </nav>
    
        <!--code for various admin buttons-->
    
    <section>
        <div class="button">
            <button>Home</button>
            <button>Add Apps</button>
        </div>
    </section>
</body>
</html>